
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.homelinks{
    display:flex;
 background-color: rgb(230, 230, 241);
    height: 20%;
    position: sticky;
    
    }
.homelinks img{
    width: 75px;
    height: 75px;

}

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
    display: block;
}

.homelinks ul li{
    display: inline;
    
    text-align:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
    
    
    }
    .homelinks ul li a{
        color: blue;
        text-decoration: none;
        font-size: 20px;
 }
 .homelinks ul li a:hover{
 color:rgb(155, 26, 26);}


 .homelinks ul li a:active{
    color: rgb(47, 178, 210);
    transition: 0.3s;}
    
.homelinks label
{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    padding-top: 15px;
}
.homelinks input{
    width: 200px;
    height: 30px;
    padding-top:15px ;
    margin-top: 12px;
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.img img {
    width: 300px; 
    height: 300PX;  
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease-in-out;  
}

.img img:hover {
    transform: scale(1.05);  
}
